.list {
  width: 500px;
  padding: 0;
}

.contact {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  justify-content: space-between;
}

.button {
  font-size: 18px;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100px;
  margin-left: 12px;
  border: none;
  background-color: #5bd8d8;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #6db4b4;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.item:not(:last-child) {
  margin-bottom: 9px;
}
/* span {
      margin-left: 10px;
    } */
